/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

body {
  /* background-color: #4a6890; */
  background-image: linear-gradient(
    43deg,
    #4a6890 0%,
    #4158d0 74%,
    #4a6890 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 150vh;
}
* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  /* outline: 1px solid red; */
}
.question {
  width: 80%;
  min-width: 400px;
  margin: 2rem auto;
  position: relative;
}
.preventDoubleAnswer {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
}
h3 {
  font-size: 2rem;
}
h2 {
  text-align: left;
  margin: 1rem 0;
  font-size: 2rem;
}
li {
  list-style: upper-alpha;
  text-align: left;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 1.7rem;
}
li:hover {
  cursor: pointer;
}

.incorrect {
  color: #c70000;
}

.correct {
  color: #09ff00;
}

#invisible {
  display: none;
}

button {
  margin-left: 1rem;
}
form {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
select {
  margin-top: 0.5em;
}
.card {
  width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#buttons {
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* From uiverse.io by @Cuzart */
button {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em 0.425em 1em;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #4158d0;
  border-bottom: 5px solid #4158d0;
  transition: color 300ms ease;
  transition-property: color, background-color, transform;
  cursor: pointer;
  z-index: 1;
  margin-top: 0.5rem;
}

button:hover {
  color: white;
}

button:hover:before {
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 0;
}

button:active {
  transform: translateY(4px);
}

button:before {
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  height: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #4158d0;
  transition: height 0.2s ease;
}

/* 
drop down */

.box select {
  position: relative;
  background-color: #4158d0;
  color: white;
  padding: 5px;
  width: 10em;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
  transition: color 300ms ease;
  transition-property: color;
}

/* .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
} */

.box select:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
}
.box select:hover option {
  background-color: #4158d0;
  color: white;
}

.box select option {
  padding: 30px;
}
